# PostgreSQL
# URL Format: postgresql://postgres:[password]@localhost:5432/habit_tracker?schema=public
POSTGRES_PASS=""
DATABASE_URL=""

# DigitalOcean Spaces
DO_SPACES_KEY=""
DO_SPACES_SECRET=""
DO_SPACES_REGION=tor1
DO_SPACES_BUCKET=

# Pusher API
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""

# Auth
JWT_SECRET=""